{% extends 'base.html.twig' %}

{% block title %}{{ 'home'|trans  }} | fotocopilot{% endblock %}

{% block body %}
    <div class="container-fluid h-100">
        <div class="row h-100  justify-content-md-center">
            <div class="col col-md-8 col-lg-6 align-self-end contact-form">
                <h1 class="text-center headline fittext mb-4"><span class="foto">foto</span>co-pilot</h1>
                <div class="row extra-margin fadein">
                    <div class="col-12 col-md-6">
                        {{ form_start(form) }}
                        {{ form_row(form.sender) }}
                        {{ form_row(form.senderEmail) }}
                        {{ form_row(form.subject) }}
                    </div>
                    <div class="col-12 col-md-6 child-height-100">
                        {{ form_row(form.message) }}

                    </div>
                </div>
                <div class="row fadein">
                    <div class="col-xs-12 col-sm-10">
                        <p class="text-muted"><small>{{ 'disclaimer'|trans }} <a href="{{ path('app_default_imprint') }}">{{ 'disclaimer_more'|trans }}</a>.</small></p>
                    </div>
                    <div class="col-xs-12 col-sm-2 d-md-flex justify-content-end">
                        <div class="ml-3"></div>
                        {{ form_row(form.submit) }}
                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex align-self-end justify-content-center footer">
                <a class="pb-3" href="{{ path('app_default_imprint') }}">{{ 'imprint'|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}
